<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<title>Ubah Penduduk</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet">
</link>
<style th:replace="fragments/fragment :: style"></style>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
		<div class="starter-template">
			<form class="form-horizontal" action="/penduduk/ubah/${nik}"
				th:object="${penduduk}" method="post">
				<div class="form-group">
					<p class="control-label col-sm-2"></p>
					<div class="col-sm-10">
						<h2>Ubah Data Penduduk</h2>
					</div>
				</div>
				<hr />
				<div class="form-group">
					<label class="control-label col-sm-2" for="id">ID :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="id" name="id"
							readonly="true" th:field="*{id}" />
					</div>
				</div>
				<input type="hidden" class="form-control" id="nik" name="nik"
					readonly="true" th:field="*{nik}" />
				<!--
				<div class="form-group">
					<label class="control-label col-sm-2" for="nik">NIK :</label>
					<div class="col-sm-4"></div>
				</div>
				 -->
				<div class="form-group">
					<label class="control-label col-sm-2" for="nama">Nama :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="nama" name="nama"
							placeholder="Nama Lengkap" th:field="*{nama}" required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="jenis_kelamin">Jenis
						Kelamin :</label>
					<div class="col-sm-4">
						<select class="form-control" id="jenis_kelamin"
							name="jenis_kelamin" th:field="*{jenis_kelamin}"
							required="required">
							<option th:value="0">Laki-laki</option>
							<option th:value="1">Perempuan</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="tempat_lahir">Tempat
						Lahir :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="tempat_lahir"
							name="tempat_lahir" placeholder="Jakarta"
							th:field="*{tempat_lahir}" required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="tanggal_lahir">Tanggal
						Lahir :</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="tanggal_lahir"
							name="tanggal_lahir" max="2017-10-09" placeholder=""
							th:field="*{tanggal_lahir}" required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="golongan_darah">Golongan
						Darah :</label>
					<div class="col-sm-4">
						<select class="form-control" id="golongan_darah"
							name="golongan_darah" th:field="*{golongan_darah}"
							required="required">
							<option value="AB+">AB+</option>
							<option value="AB-">AB-</option>
							<option value="A+">A+</option>
							<option value="A-">A-</option>
							<option value="B+">B+</option>
							<option value="B-">B-</option>
							<option value="O+">O+</option>
							<option value="O-">O-</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="agama">Agama :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="agama" name="agama"
							placeholder="Agama" th:field="*{agama}" required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="status_perkawinan">Status
						Perkawinan :</label>
					<div class="col-sm-4">
						<select class="form-control" id="status_perkawinan"
							name="status_perkawinan" th:field="*{status_perkawinan}"
							required="required">
							<option value="Kawin">Kawin</option>
							<option value="Belum Kawin">Belum Kawin</option>
							<option value="Cerai Hidup">Cerai Hidup</option>
							<option value="Cerai Mati">Cerai Mati</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="status_dalam_keluarga">Status
						Dalam Keluarga :</label>
					<div class="col-sm-4">
						<select class="form-control" id="status_dalam_keluarga"
							name="status_dalam_keluarga" th:field="*{status_dalam_keluarga}"
							required="required">
							<option value="Kepala Keluarga">Kepala Keluarga</option>
							<option value="Istri">Istri</option>
							<option value="Anak">Anak</option>
							<option value="Pembantu">Pembantu</option>
							<option value="Famili Lain">Famili Lain</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="pekerjaan">Pekerjaan
						:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="pekerjaan"
							name="pekerjaan" placeholder="Pekerjaan" th:field="*{pekerjaan}"
							required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="is_wni">Kewarganegaraan
						:</label>
					<div class="col-sm-4">
						<select class="form-control" id="is_wni" name="is_wni"
							th:field="*{is_wni}" required="required">
							<option th:value="1">WNI</option>
							<option th:value="0">WNA</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="is_wafat">Status
						Kematian :</label>
					<div class="col-sm-4">
						<select class="form-control" id="is_wafat" name="is_wafat"
							th:field="*{is_wafat}" required="required">
							<option th:value="0">Hidup</option>
							<option th:value="1">Mati</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="id_keluarga">ID
						Keluarga :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="id_keluarga"
							name="id_keluarga" placeholder="ID" th:field="*{id_keluarga}"
							required="true" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<br />
		<br />
		<br />
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
</body>
</html>
