<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>404 Not found</title>
<link th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet">
</link>
<style th:replace="fragments/fragment :: style"></style>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
		<div class="starter-template">
			<h1>ERROR!</h1>
			<h3>Halaman yang dicari tidak ditemukan</h3>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>

	<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.1/js/bootstrap.min.js}"></script>
</body>
</html>